body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    display: block;
    font-family: Arial,sans-serif;
}

form {
    display: block;
    margin-top: 0em;
}

html {
    padding: 0;
}

a{
    text-decoration: none;
}

label{
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}